
<div class="container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
  <h1><span>Lucia </span> Zuleta</h1>
  <p><span id="firstElement">I'm</span>
  <span class="typed" data-typed-items="Teacher, Tester, Developer, Freelancer"> Web Developer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span></p>
  <div class="social-links">
    <a href="https://github.com/lulazuleta" class="github"><i class="bi bi-github"></i></a>
    <a href="https://www.linkedin.com/in/lucia-zuleta-b3b8b3ab/" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
</div>


