<div class="container"> <div class=" text-center mt-5 ">
    <h1>Proyectos</h1>
</div>
<br>
<div class="row justify-content-center gap-4 contenedor">

<div class="card" style="width: 18rem;">
    <img src="../../assets/img/2021-11-26_17h24_36.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Premium School</h5>
      <p class="card-text">Escuela de manejo</p>
      <a href="http://premiumschool.com.ar/" class="btn btn-primary">Visitar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/img/2021-11-26_17h25_27.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">RG Servicios Integrales</h5>
      <p class="card-text">Servicios de administracion</p>
      <a href="https://rgserviciosintegrales.com.ar/" class="btn btn-primary">Visitar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/img/cropped-cropped-cropped-cropped-logo-fenix-1.jpg.png" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">Casa Fenix</h5>
      <p class="card-text">Cotillon Mayorista</p>
      <a href="https://casafenix.com.ar/" class="btn btn-primary">Visitar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/img/2021-11-26_17h20_56.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Decopastel</h5>
      <p class="card-text">Articulos de reposteria</p>
      <a href="https://www.instagram.com/tienda_decopastel/" class="btn btn-primary">Visitar</a>
    </div>
  </div>

</div>